<div class="card mb-6 border border-success" id="appRespaldo">
    <div class="card-header text-white bg-primary">
        Registro de Respaldo
        <button class="close" arial-label="close" id="btnCerrarRespaldo">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="guardarRespaldo" class="form-onine" id="frmRespaldo">
            <table class="table table-sm table-bordeless">
                <tbody>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-success" value="Generar Copia">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2" id="tdDescargar"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script src="modulos/respaldo/respaldo.js"></script>




