<div class="card mb-6 border border-success" id="appAlumnos">
    <div class="card-header text-white bg-primary">
        Registro de Alumnos
        <button class="close" arial-label="close" id="btnCerrarAlumnos">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="guardarAlumnos" class="form-onine" id="frmAlumnos">
            <table class="table table-sm table-bordeless">
                <tbody>
                    <tr>
                        <td>CODIGO: {{ alumnos.codigo }} </td>
                        <td>
                            <input v-model="alumnos.codigo" type="text" class="form-control" size="8" required>
                        </td>
                    </tr>
                    <tr>
                        <td>NOMBRE:</td>
                        <td>
                            <input v-model="alumnos.nombre" type="text" class="form-control" size="20" required>
                        </td>
                    </tr>
                    <tr>
                        <td>DIRECCION:</td>
                        <td>
                            <input v-model="alumnos.direccion" type="text" class="form-control" size="20" required>
                        </td>
                    </tr>
                    <tr>
                        <td>TELEFONO:</td>
                        <td>
                            <input v-model="alumnos.telefono" type="text" class="form-control" size="10" required>
                        </td>
                    </tr>
                    <tr>
                        <td>ACTIVO:</td>
                        <td>
                            <input v-model="alumnos.activo" type="checkbox" class="form-control">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-success" value="Guardar">
                            <input type="reset" class="btn btn-danger" value="Limpiar">
                            <a href="#" class="btn btn-success">Buscar</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<script src="modulos/alumnos/alumnos.js"></script>




