<div class="card mb-6 border border-success" id="appBuscarAlumnos">
    <div class="card-header text-white bg-primary">
        Busqueda de Alumnos
        <button class="close" arial-label="close" id="btnCerrarBuscarAlumnos">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <td colspan="5">
                        BUSCAR: <input v-on:keyup="buscarAlumnos" v-model="buscar" type="text" size="20">
                    </td>
                </tr>
                <tr>
                    <td>CODIGO</td>
                    <td>NOMBRE</td>
                    <td>DIRECCION</td>
                    <td>TEL</td>
                    <td>ACTIVO</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="alumno in alumnos" v-on:click="mostrarAlumno(alumno)">
                    <td>{{ alumno.codigo }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.direccion }}</td>
                    <td>{{ alumno.telefono }}</td>
                    <td>{{ alumno.activo ? "si" : "no" }}</td>
                    <td>
                        <a class="btn btn-danger" href="#" v-on:click="eliminarAlumno(alumno.idAlumno)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="modulos/alumnos/buscar_alumnos.js"></script>




