<div class="card mb-6 border border-success" id="appMaterias">
    <div class="card-header text-white bg-primary">
        Registro de Materias
        <button class="close" arial-label="close" id="btnCerrarMaterias">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="guardarMaterias" class="form-onine" id="frmMaterias">
            <table class="table table-sm table-bordeless">
                <tbody>
                    <tr>
                        <td>CODIGO: {{ materias.codigo }} </td>
                        <td>
                            <input v-model="materias.codigo" type="text" class="form-control" size="8" required>
                        </td>
                    </tr>
                    <tr>
                        <td>NOMBRE:</td>
                        <td>
                            <input v-model="materias.nombre" type="text" class="form-control" size="20" required>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-success" value="Guardar">
                            <input type="reset" class="btn btn-danger" value="Limpiar">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<script src="modulos/materias/materias.js"></script>




