<div class="card mb-6 border border-success" id="rptAlumnos">
    <div class="card-header text-white bg-primary">
        Registro de Respaldo
        <button class="close" arial-label="close" id="btnCerrarRptAlumnos">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="generarReporte" class="form-onine" id="frmRptAlumnos">
            <table class="table table-sm table-bordeless">
                <tbody>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" class="btn btn-success" value="Generar Reporte">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2" id="tdDescargar"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <div class="container" id="dvRptMostrarAlumnos">
                                <iframe id="ifrmAlumnos" type="application/pdf" width="950" height="460" frameborder="1" style="position:relative;z-index:999">
                                    
                                </iframe>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script src="modulos/reporte_alumno/rptAlumnos.js"></script>




